<%# 特定のViewファイル専用の訳文を簡単に参照している %>
<h1>タスク一覧ページ</h1>
<p><%= notice %></p>

<%= form_with(scope: :search, method: :get, local: true) do |form| %>

  <div class="form-group">
    <%=form.label  t('.status')%>
    <%= form.select :status, Task.statuses.keys, include_blank: "" %>
  <div>

  <div class="form-group">
    <%= form.label t('.title') %>
    <%= form.text_field :title %>
  <div>

  <div class="form-group">
    <%# 1/24 海外メンターコード %>
    <%# <%= form.label :label_keyword, "ラベル:" %> %>
    <%# <%= form.select :label_id, Label.all.collect{|p|[p.label_name, p.id]}, {selected: @label_keyword, include_blank: true }, class: 'form-control mb-3' %> %>



    <%# 鶴田コード %>
    <%=form.label :label_name, "タグ" %>
    <%# <%= form.select :label_id, Label.pluck(:name, :id), include_blank: "", id: "search_label"%> %>
    <%= form.select :label_id, Label.all.collect{|p|[p.label_name, p.id]},include_blank: true, class: 'form-control mb-3' %>
  <div>


  <div class="form-group">
    <%= form.submit t('.search'),id: 'search_task', class: "search-btn" %>
  </div>
<% end %>

<table>
  <tr>
    <th><%= t('.user_name') %></th>
    <th><%= t('.title') %></th>
    <th><%= t('.content') %></th>
    <th><%= link_to t('.limit'), sort_limit: true, class: "search-btn"%></th>
    <th><%= link_to t('.priority'), sort_priority: true, class: "search-btn"%></th>
    <th><%= t('.status') %></th>
    <th>詳細</th>
    <th>編集</th>
    <th>削除</th>
    <th>ラベル</th>
  </tr>

  <% @tasks.each do |task| %>
    <tr class="task_row" >
      <td><%= task.user.name %></td>
      <td><%= task.title %></td>
      <td><%= task.content %></td>
      <td><%= task.limit %></td>
      <td><%= task.priority %></td>
      <td><%= task.status %></td>
      <td><%= link_to '詳細を確認する', task_path(task.id),class:"btn btn-outline-success" %></td>
      <td><%= link_to 'タスクを編集する', edit_task_path(task.id) %></td>
      <td><%= link_to 'タスクを削除する', task_path(task.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } ,class:"btn btn-outline-warning" %></td>
      <% task.labels.each do |label| %>
      <td>
        <%= label.label_name %>
      </td>
    <% end %>
    </tr>
  <% end %>
</table>

<%= link_to '新しくタスクを投稿する', new_task_path %>
<%= paginate @tasks %>

<%# <style>
h1{
  text-align:center;
  color:pink;
}
th {
  text-align:center;
}
td {
  text-align:center;
}
table{
  border:solid 1px #c0c0c0;
  background-color: pink;
}
.pagination {
  justify-content: center;
}
.form-group{
  float:left;
  padding: 0 30px;
}
.btn-primary{
  margin-left:20px
}



</style> %>