<h1>タスク一覧</h1>
<p><%= notice %></p>
<table>
  <tr>
    <th>タイトル</th>
    <th>タスク名</th>
    <th>終了期限</th>
    <th>ステータス</th>
    <th>優先度</th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.title %></td>
    <td><%= task.content %></td>
    <td><%= l task.limit %></td>
    <td><%= task.status %></td>
    <td><%= task.priority %></td>
    <td><%= link_to '詳細を確認する', task_path(task.id) %></td>
    <td><%= link_to "タスクを編集する", edit_task_path(task.id) %></td>
    <td><%= link_to 'タスクを削除する', task_path(task.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } ,class:"btn btn-outline-warning" %></td>

  </tr>
<% end %>
</table>

<%= link_to '新しくタスクを投稿する', new_task_path %>