<h1>ブログ詳細画面</h1>
<p>タイトル: <%= @task.title %></p>
<p>タスク名: <%= @task.content %></p>
<p>終了期限: <%= @task.limit %></p>
<p>優先順位: <%= @task.priority %></p>
<p>ステータス: <%= @task.status %></p>



<%=link_to "タスク一覧に戻る",tasks_path%>