<h1>管理者画面</h1>

<table>
  <thead>
    <tr>
      <th><%= t('.name') %></th>
      <th><%= t('.email') %></th>
      <th><%= t('.admin') %></th>
      <th><%= t('.tasks_number') %></th>
    </th>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name  %></td>
        <td><%= user.email %></td>
        <% if user.admin == true  %>
          <td><%= "あり" %></td>
        <% else %>
          <td><%= "なし" %></td>
        <% end %>
        <td><%= user.tasks.count %></td>
        <td><%= link_to t('.show_user'), admin_user_path(user) ,id: "show-user", class: "show-user btn btn-primary" %></td>
        <td><%= link_to t('.edit_user'), edit_admin_user_path(user),class: "edit-user btn btn-primary" %></td>
        <td><%= link_to t('.destroy_user'), admin_user_path(user), method: :delete, data: { confirm: t('.are_you_sure?') }, class: "destroy-user btn btn-danger" %></td>
      </tr>
    <% end%>
  </tbody>
</table>